page logo <https://femtoring.herokuapp.com/>

  * Home <https://femtoring.herokuapp.com/>
  * About <https://femtoring.herokuapp.com/about/>
  * Mentors <https://femtoring.herokuapp.com/mentors/>

  * Sign Up <https://femtoring.herokuapp.com/accounts/signup/>
  * Login <https://femtoring.herokuapp.com/accounts/login/>

  * Sign Up <https://femtoring.herokuapp.com/accounts/signup/>
  * Login <https://femtoring.herokuapp.com/accounts/login/>


    Feel empowered
    with your own mentor.

Meet The Mentors <https://femtoring.herokuapp.com/mentors/>

What are we about?

We have created a service that matches entry-level women in tech with
those who are already established leaders in their field.

About Us <https://femtoring.herokuapp.com/about/>

What will you get from your mentor?

We want to make women feel represented, guided towards making the best
career choices for them and forge an invaluable working friendship.

Mentors <https://femtoring.herokuapp.com/mentors/>

Why should you join us?

By signing up, you will have access for booking 1-2-1 appointments,
attend our events and interact with articles written by our mentors.

Sign Up <https://femtoring.herokuapp.com/accounts/signup/>


    Testimonials

"There aren't many people who look like me in this industry. It was a
breath of fresh air meeting Aine, she started where I did and its
empowering seeing where she is now."

- Jesse Wong - Front End Junior Developer HTML|CSS|JS

"Maryam explained how crucial it was to find allies in an industry that
doesn't normally open doors to people like me. Without her, I wouldn't
have applied for a Senior Product Developer."

- Talia Khan - Product Developer

"Last week, I attended my first all-female networking event hosted by a
collaboration of Femtoring and SheCanCode. I've never felt more seen! It
was such a great experience to be surrounded like-minded people."

- Esme Marsh - Solution Engineer

© Femtoring
// <https://www.facebook.com/> // <https://www.instagram.com/> //
<https://www.twitter.com/> // <https://www.linkedin.com/>

